<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Kalibrierung</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            const socket = io('');

            socket.on('connect', function() {
                socket.send('Calibration page connected!');
            });
            socket.on('test', function () {
                window.location.href = "/test";
                return false;
            })

            $('button#next').click(function () {
                if(document.getElementById('checkbox').checked){
                    socket.emit('test');
                    return false;
                }
            });
        });
    </script>
</head>
<body>
<div class="banner">
    <div>
        Kalibrierung
    </div>
</div>

<div>
    <article>Bitte befolgen die Anweisungen der Aufsichtsperson!</article>
    <article>Bitte bewege deinen Kopf nach der Kalibrierung so wenig wie möglich und 
        verlasse den Bildschirm nicht mit deinem Blick. Versuche außerdem dir nicht mit
        den Händen in dein Gesicht zu greifen.</article>
    <label><input id="checkbox" type="checkbox"> Kalibrierung abgeschlossen</label>
    <br>
    <button class = "startButton" id="next" type="button">Weiter</button> <br>
</div>
</body>
</html>