<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Kalibrierung</title>
</head>
<body>
<div class="banner">
    <div>
        Kalibrierung
    </div>
</div>

<div>
    <article>Bitte befolgen Sie die Anweisungen der Aufsichtsperson!</article>

    <label><input id="checkbox" type="checkbox"> Kalibrierung abgeschlossen</label>
    <br>
    <button class = "startButton" id="next" type="button">Weiter</button> <br>
</div>
</body>
</html>