<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Kalibrierung</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            const socket = io('');

            socket.on('connect', function() {
                socket.send('Confidence page connected!');
            });
            socket.on('shop', function () {
                window.location.href = "/shop";
                return false;
            });

            socket.emit('startTracking')
            socket.emit('saveProduct', 0)
            setTimeout(function ()  {
                socket.emit('shop')
            },3000);
        });
    </script>
</head>
<body>
<div class="centerContent">
    <span class="dot"></span>
</div>
</body>
</html>