<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/decision.css">
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {
            var socket = io();
            let productSet;
            let timerId;

            socket.on('connect', function() {
                socket.send('Decision page connected!');
                socket.emit('loadDecision')
            });
            socket.on('nextProduct', function () {
                clearInterval(timerId);
                window.location.href = "/nextProduct";
                return false;
            })
            socket.on('pause', function () {
                clearInterval(timerId);
                window.location.href = "/pause";
                return false;
            })
            socket.on('questionaire', function () {
                clearInterval(timerId);
                window.location.href = "/questionaire";
                return false;
            })
            socket.on('start', function () {
                clearInterval(timerId);
                window.location.href = "/start";
                return false;
            })
            socket.on('loadDecision', function (message) {
                productSet = message['Set'];
                timerId = loadData(socket,productSet)
                return false;
            })



            $('#cart1').click(function () {
                socket.emit('nextProduct', {'ProductSet': productSet, 'ProductNumber': 1, 'InTime': 0});
                return false;
            });

            $('#cart2').click(function () {
                socket.emit('nextProduct', {'ProductSet': productSet, 'ProductNumber': 2, 'InTime': 0});
                return false;
            });

            $('#cart3').click(function () {
                socket.emit('nextProduct', {'ProductSet': productSet, 'ProductNumber': 3, 'InTime': 0});
                return false;
            });

            $('#cart4').click(function () {
                socket.emit('nextProduct', {'ProductSet': productSet, 'ProductNumber': 4, 'InTime': 0});
                return false;
            });

            $('#cart5').click(function () {
                socket.emit('nextProduct', {'ProductSet': productSet, 'ProductNumber': 5, 'InTime': 0});
                return false;
            });
        });

        function loadData(socket, productSet) {
            $.getJSON('../static/data.json', function(data) {
                //General Information
                const products = data[productSet.toString()];
                for (let i=1; i<6; i++){
                    let product = products[i];
                    let element = document.getElementById("Price"+i.toString());
                    element.innerHTML = product['Info']['Price'];
                    element = document.getElementById("Brand"+i.toString());
                    element.innerHTML = product['Info']['Brand'];
                    element = document.getElementById("Name"+i.toString());
                    element.innerHTML = product['Info']['Name'];
                    //Picture
                    $("#Picture"+i.toString()).attr("src", product['Picture']);
                }
                let seconds = 20;
                let timer = seconds.toString()
                seconds < 10 ? timer = "0"+seconds.toString() : timer = seconds.toString();
                document.getElementById("timer").innerHTML = "0:"+timer;
                let timerId = setInterval(function(){
                    seconds= seconds-1;
                    seconds < 10 ? timer = "0"+seconds.toString() : timer = seconds.toString();
                    document.getElementById("timer").innerHTML = "0:"+timer;
                    if (seconds < 0) {
                        clearInterval(timerId);
                        document.getElementById("timer").innerHTML = "EXPIRED";
                        socket.emit('nextProduct', {'ProductSet': productSet, 'ProductNumber': 0, 'InTime': 0})
                    }
                },1000)
                return timerId;
            });
        }
    </script>
    <title>Entscheidung</title>
</head>
<body>
<div class="shopName">
    <div> Entscheidung </div>
</div>

<div class="row">
    <div class="column" >
        <img id = "Picture1"/>
        <div class="productTitle">
            <article>
                <div id = "Brand1" class="productBrand"></div>
                <div id = "Name1" class="productTitle"></div>
            </article>
            <article>
                <div id = "Price1"></div>
                <button class="cart-btn" id="cart1">In den Einkaufswagen</button>
            </article>
        </div>
    </div>

    <div class="column">
        <img id = "Picture2"/>
        <div class="productTitle">
            <article>
                <div id = "Brand2" class="productBrand"></div>
                <div id = "Name2" class="productTitle"></div>
            </article>
            <article>
                <div id = "Price2"></div>
                <button class="cart-btn" id="cart2">In den Einkaufswagen</button>
            </article>
        </div>

    </div>
</div>

<div class="row">
    <div class="column" >
        <img id = "Picture3"/>
        <div class="productTitle">
            <article>
                <div id = "Brand3" class="productBrand"></div>
                <div id = "Name3" class="productTitle"></div>
            </article>
            <article>
                <div id = "Price3"></div>
                <button class="cart-btn" id="cart3">In den Einkaufswagen</button>
            </article>
        </div>
    </div>

    <div class="column">
        <img id = "Picture4"/>
        <div class="productTitle">
            <article>
                <div id = "Brand4" class="productBrand"></div>
                <div id = "Name4" class="productTitle"></div>
            </article>
            <article>
                <div id = "Price4"></div>
                <button class="cart-btn" id="cart4">In den Einkaufswagen</button>
            </article>
        </div>

    </div>
</div>

<div class="row">
    <div class="column">
        <img id = "Picture5"/>
        <div class="productTitle">
            <article>
                <div id = "Brand5" class="productBrand"></div>
                <div id = "Name5" class="productTitle"></div>
            </article>
            <article>
                <div id = "Price5"></div>
                <button class="cart-btn" id="cart5">In den Einkaufswagen</button>
            </article>
        </div>
    </div>
    <div class="column">
        <div class="timer" id="timer">
        </div>
    </div>
</div>
</body>
</html>