<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Beschreibung der Freundin</title>
</head>
<body>
<div class="banner">
    <div>
        Beschreibung der Freundin
    </div>
</div>
<div>
    <article>
        Die Freundin, für die du einkaufen sollst, ist eine 22-jährige Studentin. Sie ernährt sich vegan und versucht
        stets Bio-Produkte zu kaufen. Da sie jedoch nicht sonderlich viel Geld zur Verfügung hat, achtet sie beim
        Einkaufen auch immer auf den Preis der Artikel, die sie kauft.
    </article>
    <button class = "startButton" id="start" type="button">Weiter</button> <br>
</div>
</body>
</html>