<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Studie über das Kaufverhalten in Onlineshops</title>
</head>
<body>
<div class="banner">
    <div>
        Studie über das Kaufverhalten in Onlineshops
    </div>
</div>
<div>
    Starte die Studie erst, wenn du alle Informationen erhalten hast <br> und du die Einverständniserklärung unterschrieben hast.
    <form id = "participant id">
        <div class="radioarray">

            <label><b>Teilnehmer ID:</b> <input type="number" id="pID" min="1" name="pID" style="width: 60px; font-size: 20px" size="2" ></label>

        </div>
    </form>
    <button class = "startButton" id="start" type="button">Starten</button> <br>
</div>
</body>
</html>