<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Interview</title>
</head>
<body>
<div class="banner">
    <div>
        Interview
    </div>
</div>
<div>
    <article>
        Vielen Dank für die Teilnahme an unserer Studie. Abschließend haben wir noch ein paar Fragen. Abschließend
        erhälst du deine Vergütung.
    </article>
    <label><input id="checkbox" type="checkbox"> Vergütung erhalten und bestätigt</label>
    <br>
    <button class = "startButton" id="start" type="button">Studie beenden</button> <br>
</div>
</body>
</html>