<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Pause</title>
</head>
<body>
<div class="banner">
    <div>
        Pause
    </div>
</div>
<div>
    <article>
        Du hast nun eine kurze Pause, um dich zu entspannen. Bevor du mit der Studie fortfährst kalibrieren wir den
        Eye-Tracker neu. Folge dazu den Anweisungen der Aufsichtsperson.
    </article>
    <label><input id="checkbox" type="checkbox"> Kalibrierung abgeschlossen</label>
    <br>
    <button class = "startButton" id="start" type="button">Studie fortsetzen</button> <br>
</div>
</body>
</html>