<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/questionaire.css">
    <title>Abschließender Fragebogen</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            const socket = io('');

            socket.on('connect', function() {
                socket.send('Questionaire page connected!');
            });
            socket.on('interview', function () {
                window.location.href = "/interview";
                return false;
            })

            $('button#next').click(function () {

                if($("input[name='favVersion']:checked").size() > 0) {
                    if($("input[name='influence']:checked").size() > 0) {
                        if($("input[name='largerFont']:checked").size() > 0) {
                            if($("input[name='redFont']:checked").size() > 0) {
                                if($("input[name='blinking']:checked").size() > 0) {
                                    if($("input[name='standard']:checked").size() > 0) {
                                        const message = {
                                            "favVersion": $("input[name='favVersion']:checked").val(),
                                            "influence": $("input[name='influence']:checked").val(),
                                            "largerFont": $("input[name='largerFont']:checked").val(),
                                            "redFont": $("input[name='redFont']:checked").val(),
                                            "blinking": $("input[name='blinking']:checked").val(),
                                            "standard": $("input[name='standard']:checked").val()
                                        }

                                        socket.emit('interview', message);
                                        return false;
                                    }
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
</head>
<body>
<div class="banner">
    <div>
        Abschließender Fragebogen
    </div>
</div>
<div>
    <form id="evaluation">
        <div class="radioarray">
            <b>Welche Version des Online-Shops hat dir am besten gefallen?</b>
            <br>
            <input type="radio" id="noHighlighting" name="favVersion" value="noHighlighting">
            <label for="noHighlighting">ohne Highlighting</label>
            <input type="radio" id="largerFont" name="favVersion" value="largerFont">
            <label for="largerFont">größere Schrift</label>
            <input type="radio" id="redFont" name="favVersion" value="redFont">
            <label for="redFont">rote Schrift</label>
            <input type="radio" id="blinking" name="favVersion" value="blinking">
            <label for="blinking">blinkender Text</label>
        </div>
        <div class="radioarray">
            <b>Wie hat das Highlighting generell deinen Entscheidungsprozess beeinflusst?</b>
            <br>
            <input type="radio" id="influence-1" name="influence" value="1">
            <label for="influence-1">negativ</label>
            <input type="radio" id="influence-2" name="influence" value="2">
            <label for="influence-2">eher negativ</label>
            <input type="radio" id="influence-3" name="influence" value="3">
            <label for="influence-3">kein Einfluss</label>
            <input type="radio" id="influence-4" name="influence" value="4">
            <label for="influence-4">eher positiv</label>
            <input type="radio" id="influence-5" name="influence" value="5">
            <label for="influence-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie hast du das Highlighting mit größerer Schrift empfunden?</b>
            <br>
            <input type="radio" id="largerFont-1" name="largerFont" value="1">
            <label for="largerFont-1">negativ</label>
            <input type="radio" id="largerFont-2" name="largerFont" value="2">
            <label for="largerFont-2">eher negativ</label>
            <input type="radio" id="largerFont-3" name="largerFont" value="3">
            <label for="largerFont-3">neutral</label>
            <input type="radio" id="largerFont-4" name="largerFont" value="4">
            <label for="largerFont-4">eher positiv</label>
            <input type="radio" id="largerFont-5" name="largerFont" value="5">
            <label for="largerFont-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie hast du das Highlighting mit roter Schrift empfunden?</b>
            <br>
            <input type="radio" id="redFont-1" name="redFont" value="1">
            <label for="redFont-1">negativ</label>
            <input type="radio" id="redFont-2" name="redFont" value="2">
            <label for="redFont-2">eher negativ</label>
            <input type="radio" id="redFont-3" name="redFont" value="3">
            <label for="redFont-3">neutral</label>
            <input type="radio" id="redFont-4" name="redFont" value="4">
            <label for="redFont-4">eher positiv</label>
            <input type="radio" id="redFont-5" name="redFont" value="5">
            <label for="redFont-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie hast du das Highlighting mit blinkender Schrift empfunden?</b>
            <br>
            <input type="radio" id="blinking-1" name="blinking" value="1">
            <label for="blinking-1">negativ</label>
            <input type="radio" id="blinking-2" name="blinking" value="2">
            <label for="blinking-2">eher negativ</label>
            <input type="radio" id="blinking-3" name="blinking" value="3">
            <label for="blinking-3">neutral</label>
            <input type="radio" id="blinking-4" name="blinking" value="4">
            <label for="blinking-4">eher positiv</label>
            <input type="radio" id="blinking-5" name="blinking" value="5">
            <label for="blinking-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie hast du den Onlineshop ohne Highlighting empfunden?</b>
            <br>
            <input type="radio" id="standard-1" name="standard" value="1">
            <label for="standard-1">negativ</label>
            <input type="radio" id="standard-2" name="standard" value="2">
            <label for="standard-2">eher negativ</label>
            <input type="radio" id="standard-3" name="standard" value="3">
            <label for="standard-3">neutral</label>
            <input type="radio" id="standard-4" name="standard" value="4">
            <label for="standard-4">eher positiv</label>
            <input type="radio" id="standard-5" name="standard" value="5">
            <label for="standard-5">positiv</label>
        </div>
    </form>
    <button id="next" type="button">Weiter</button> <br>
</div>

</body>
</html>