<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/questionaire.css">
    <title>Abschließender Fragebogen</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            const socket = io('');

            socket.on('connect', function() {
                socket.send('Questionaire page connected!');
            });
            socket.on('interview', function () {
                window.location.href = "/interview";
                return false;
            })

            $('button#next').click(function () {

                if($("input[name='favVersion']:checked").size() > 0) {
                    if($("input[name='influence']:checked").size() > 0) {
                        if($("input[name='largerFont']:checked").size() > 0) {
                            if($("input[name='redFont']:checked").size() > 0) {
                                if($("input[name='blinking']:checked").size() > 0) {
                                    if($("input[name='standard']:checked").size() > 0) {
                                        if($("input[name='confidence']:checked").size() > 0) {
                                            if($("input[name='attention']:checked").size() > 0) {
                                                if($("input[name='realism']:checked").size() > 0) {
                                                    if($("input[name='relevancy']:checked").size() > 0) {
                                                        const message = {
                                                            "favVersion": $("input[name='favVersion']:checked").val(),
                                                            "influence": $("input[name='influence']:checked").val(),
                                                            "largerFont": $("input[name='largerFont']:checked").val(),
                                                            "redFont": $("input[name='redFont']:checked").val(),
                                                            "blinking": $("input[name='blinking']:checked").val(),
                                                            "standard": $("input[name='standard']:checked").val(),
                                                            "confidence": $("inpit[name='confidence']:checked").val(),
                                                            "attention": $("inpit[name='attention']:checked").val(),
                                                            "realism": $("inpit[name='realism']:checked").val(),
                                                            "relevancy": $("inpit[name='relevancy']:checked").val()
                                                        }

                                                        socket.emit('interview', message);
                                                        return false;
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
</head>
<body>
<div class="banner">
    <div>
        Abschließender Fragebogen
    </div>
</div>
<div>
    <form id="evaluation">
        <div class="radioarray">
            <b>Welche Version des Online-Shops hat dir am besten gefallen?</b>
            <br>
            <input type="radio" id="noHighlighting" name="favVersion" value="noHighlighting">
            <label for="noHighlighting">ohne Highlighting</label>
            <input type="radio" id="largerFont" name="favVersion" value="largerFont">
            <label for="largerFont">größere Schrift</label>
            <input type="radio" id="redFont" name="favVersion" value="redFont">
            <label for="redFont">rote Schrift</label>
            <input type="radio" id="blinking" name="favVersion" value="blinking">
            <label for="blinking">blinkender Text</label>
        </div>
        <div class="radioarray">
            <b>Wie hat das Highlighting generell deinen Entscheidungsprozess beeinflusst?</b>
            <br>
            <input type="radio" id="influence-1" name="influence" value="1">
            <label for="influence-1">negativ</label>
            <input type="radio" id="influence-2" name="influence" value="2">
            <label for="influence-2">eher negativ</label>
            <input type="radio" id="influence-3" name="influence" value="3">
            <label for="influence-3">kein Einfluss</label>
            <input type="radio" id="influence-4" name="influence" value="4">
            <label for="influence-4">eher positiv</label>
            <input type="radio" id="influence-5" name="influence" value="5">
            <label for="influence-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie hast du das Highlighting mit größerer Schrift empfunden?</b>
            <br>
            <input type="radio" id="largerFont-1" name="largerFont" value="1">
            <label for="largerFont-1">negativ</label>
            <input type="radio" id="largerFont-2" name="largerFont" value="2">
            <label for="largerFont-2">eher negativ</label>
            <input type="radio" id="largerFont-3" name="largerFont" value="3">
            <label for="largerFont-3">neutral</label>
            <input type="radio" id="largerFont-4" name="largerFont" value="4">
            <label for="largerFont-4">eher positiv</label>
            <input type="radio" id="largerFont-5" name="largerFont" value="5">
            <label for="largerFont-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie hast du das Highlighting mit roter Schrift empfunden?</b>
            <br>
            <input type="radio" id="redFont-1" name="redFont" value="1">
            <label for="redFont-1">negativ</label>
            <input type="radio" id="redFont-2" name="redFont" value="2">
            <label for="redFont-2">eher negativ</label>
            <input type="radio" id="redFont-3" name="redFont" value="3">
            <label for="redFont-3">neutral</label>
            <input type="radio" id="redFont-4" name="redFont" value="4">
            <label for="redFont-4">eher positiv</label>
            <input type="radio" id="redFont-5" name="redFont" value="5">
            <label for="redFont-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie hast du das Highlighting mit blinkender Schrift empfunden?</b>
            <br>
            <input type="radio" id="blinking-1" name="blinking" value="1">
            <label for="blinking-1">negativ</label>
            <input type="radio" id="blinking-2" name="blinking" value="2">
            <label for="blinking-2">eher negativ</label>
            <input type="radio" id="blinking-3" name="blinking" value="3">
            <label for="blinking-3">neutral</label>
            <input type="radio" id="blinking-4" name="blinking" value="4">
            <label for="blinking-4">eher positiv</label>
            <input type="radio" id="blinking-5" name="blinking" value="5">
            <label for="blinking-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie hast du den Onlineshop ohne Highlighting empfunden?</b>
            <br>
            <input type="radio" id="standard-1" name="standard" value="1">
            <label for="standard-1">negativ</label>
            <input type="radio" id="standard-2" name="standard" value="2">
            <label for="standard-2">eher negativ</label>
            <input type="radio" id="standard-3" name="standard" value="3">
            <label for="standard-3">neutral</label>
            <input type="radio" id="standard-4" name="standard" value="4">
            <label for="standard-4">eher positiv</label>
            <input type="radio" id="standard-5" name="standard" value="5">
            <label for="standard-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Wie sicher bist du dir, dass du gute Entscheidungen getroffen hast?</b>
            <br>
            <input type="radio" id="confidence-1" name="confidence" value="1">
            <label for="confidence-1">unsicher</label>
            <input type="radio" id="confidence-2" name="confidence" value="2">
            <label for="confidence-2">eher unsicher</label>
            <input type="radio" id="confidence-3" name="confidence" value="3">
            <label for="confidence-3">neutral</label>
            <input type="radio" id="confidence-4" name="confidence" value="4">
            <label for="confidence-4">eher sicher</label>
            <input type="radio" id="confidence-5" name="confidence" value="5">
            <label for="confidence-5">sicher</label>
        </div>
        <div class="radioarray">
            <b>Wie sehr wurde deine Aufmerksamkeit auf die hervorgehobenen Informationen gelenkt?</b>
            <br>
            <input type="radio" id="attention-1" name="attention" value="1">
            <label for="attention-1">schwach</label>
            <input type="radio" id="attention-2" name="attention" value="2">
            <label for="attention-2">eher schwach</label>
            <input type="radio" id="attention-3" name="attention" value="3">
            <label for="attention-3">neutral</label>
            <input type="radio" id="attention-4" name="attention" value="4">
            <label for="attention-4">eher stark</label>
            <input type="radio" id="attention-5" name="attention" value="5">
            <label for="attention-5">stark</label>
        </div>
        <div class="radioarray">
            <b>Fandest du die Auswahl der Produkte und Informationen realistisch?</b>
            <br>
            <input type="radio" id="realism-1" name="realism" value="1">
            <label for="realism-1">unrealistisch</label>
            <input type="radio" id="realism-2" name="realism" value="2">
            <label for="realism-2">eher unrealistisch</label>
            <input type="radio" id="realism-3" name="realism" value="3">
            <label for="realism-3">neutral</label>
            <input type="radio" id="realism-4" name="realism" value="4">
            <label for="realism-4">eher realistisch</label>
            <input type="radio" id="realism-5" name="realism" value="5">
            <label for="realism-5">realistisch</label>
        </div>
        <div class="radioarray">
            <b>Waren die hervorgehobenen Informationen relevant für deine Entscheidungen?</b>
            <br>
            <input type="radio" id="relevancy-1" name="relevancy" value="1">
            <label for="relevancy-1">irrelevant</label>
            <input type="radio" id="relevancy-2" name="relevancy" value="2">
            <label for="relevancy-2">eher irrelevant</label>
            <input type="radio" id="relevancy-3" name="relevancy" value="3">
            <label for="relevancy-3">neutral</label>
            <input type="radio" id="relevancy-4" name="relevancy" value="4">
            <label for="relevancy-4">eher relevant</label>
            <input type="radio" id="relevancy-5" name="relevancy" value="5">
            <label for="relevancy-5">relevant</label>
        </div>
    </form>
    <button id="next" type="button">Weiter</button> <br>
</div>

</body>
</html>