<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/questionaire.css">
    <title>Abschließender Fragebogen</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            const socket = io('');

            socket.on('connect', function() {
                socket.send('Questionaire page connected!');
            });
            socket.on('interview', function () {
                window.location.href = "/interview";
                return false;
            })

            $('button#next').click(function () {

                if($("input[name='favVersion']:checked").size() > 0) {
                    if($("input[name='influence']:checked").size() > 0) {
                        if($("input[name='largerFont']:checked").size() > 0) {
                            if($("input[name='redFont']:checked").size() > 0) {
                                if($("input[name='blinking']:checked").size() > 0) {
                                    if($("input[name='standard']:checked").size() > 0) {
                                        if($("input[name='confidenceLargerFont']:checked").size() > 0) {
                                            if($("input[name='attentionLargerFont1']:checked").size() > 0) {
                                                if($("input[name='attentionLargerFont2']:checked").size() > 0) {
                                                    if($("input[name='search_strategyLargerFont']:checked").size() > 0) {
                                                        if ($("input[name='recognitionBiasLargerFont']:checked").size() > 0) {
                                                            if ($("input[name='autonomousLargerFont']:checked").size() > 0){
                                                                if ($("input[name='reasonResponsiveLargerFont']:checked").size() > 0) {
                                                                    if($("input[name='confidenceRedFont']:checked").size() > 0) {
                                                                        if ($("input[name='attentionRedFont1']:checked").size() > 0) {
                                                                            if ($("input[name='attentionRedFont2']:checked").size() > 0) {
                                                                                if ($("input[name='search_strategyRedFont']:checked").size() > 0) {
                                                                                    if ($("input[name='recognitionBiasRedFont']:checked").size() > 0) {
                                                                                        if ($("input[name='autonomousRedFont']:checked").size() > 0){
                                                                                            if ($("input[name='reasonResponsiveRedFont']:checked").size() > 0) {
                                                                                                if($("input[name='confidenceBlinking']:checked").size() > 0) {
                                                                                                    if ($("input[name='attentionBlinking1']:checked").size() > 0) {
                                                                                                        if ($("input[name='attentionBlinking2']:checked").size() > 0) {
                                                                                                            if ($("input[name='search_strategyBlinking']:checked").size() > 0) {
                                                                                                                if ($("input[name='recognitionBiasBlinking']:checked").size() > 0) {
                                                                                                                    if ($("input[name='autonomousBlinking']:checked").size() > 0) {
                                                                                                                        if ($("input[name='reasonResponsiveBlinking']:checked").size() > 0) {
                                                                                                                            if ($("input[name='realism']:checked").size() > 0) {
                                                                                                                                if ($("input[name='relevancy']:checked").size() > 0) {
                                                                                                                                    if ($("input[name='time']:checked").size() > 0) {
                                                                                                                                        if ($("input[name='pressure']:checked").size() > 0) {
                                                                                                                                            const message = {
                                                                                                                                                "favVersion": $("input[name='favVersion']:checked").val(),
                                                                                                                                                "influence": $("input[name='influence']:checked").val(),
                                                                                                                                                "largerFont": $("input[name='largerFont']:checked").val(),
                                                                                                                                                "redFont": $("input[name='redFont']:checked").val(),
                                                                                                                                                "blinking": $("input[name='blinking']:checked").val(),
                                                                                                                                                "standard": $("input[name='standard']:checked").val(),
                                                                                                                                                "confidenceLargerFont": $("input[name='confidenceLargerFont']:checked").val(),
                                                                                                                                                "attentionLargerFont1": $("input[name='attentionLargerFont1']:checked").val(),
                                                                                                                                                "attentionLargerFont2": $("input[name='attentionLargerFont2']:checked").val(),
                                                                                                                                                "search_strategyLargerFont": $("input[name='search_strategyLargerFont']:checked").val(),
                                                                                                                                                "recognitionBiasLargerFont": $("input[name='recognitionBiasLargerFont']:checked").val(),
                                                                                                                                                "autonomousLargerFont": $("input[name='autonomousLargerFont']:checked").val(),
                                                                                                                                                "reasonResponsiveLargerFont": $("input[name='reasonResponsiveLargerFont']:checked").val(),
                                                                                                                                                "confidenceRedFont": $("input[name='confidenceRedFont']:checked").val(),
                                                                                                                                                "attentionRedFont1": $("input[name='attentionRedFont1']:checked").val(),
                                                                                                                                                "attentionRedFont2": $("input[name='attentionRedFont2']:checked").val(),
                                                                                                                                                "search_strategyRedFont": $("input[name='search_strategyRedFont']:checked").val(),
                                                                                                                                                "recognitionBiasRedFont": $("input[name='recognitionBiasRedFont']:checked").val(),
                                                                                                                                                "autonomousRedFont": $("input[name='autonomousRedFont']:checked").val(),
                                                                                                                                                "reasonResponsiveRedFont": $("input[name='reasonResponsiveRedFont']:checked").val(),
                                                                                                                                                "confidenceBlinking": $("input[name='confidenceBlinking']:checked").val(),
                                                                                                                                                "attentionBlinking1": $("input[name='attentionBlinking1']:checked").val(),
                                                                                                                                                "attentionBlinking2": $("input[name='attentionBlinking2']:checked").val(),
                                                                                                                                                "search_strategyBlinking": $("input[name='search_strategyBlinking']:checked").val(),
                                                                                                                                                "recognitionBiasBlinking": $("input[name='recognitionBiasBlinking']:checked").val(),
                                                                                                                                                "autonomousBlinking": $("input[name='autonomousBlinking']:checked").val(),
                                                                                                                                                "reasonResponsiveBlinking": $("input[name='reasonResponsiveBlinking']:checked").val(),
                                                                                                                                                "realism": $("input[name='realism']:checked").val(),
                                                                                                                                                "relevancy": $("input[name='relevancy']:checked").val(),
                                                                                                                                                "time": $("input[name='time']:checked").val(),
                                                                                                                                                "pressure": $("input[name='pressure']:checked").val()
                                                                                                                                            };

                                                                                                                                            socket.emit('interview', message);
                                                                                                                                            return false;
                                                                                                                                        }
                                                                                                                                    }
                                                                                                                                }
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
</head>
<body>
<div class="banner">
    <div>
        Abschließender Fragebogen
    </div>
</div>
<div>
    <article>
        Bitte beantworte nun die nachfolgenden Fragen und gib an, wie sehr die Aussagen auf dich zutreffen. Lies die Fragen dazu
        bitte laut vor und äußere deine Gedanken dazu. Wir werden eine Audioaufnahme dieser Gedanken erstellen. Gebe dazu
        bitte der Aufsichtsperson bescheid. Als Erinnerung siehst du hier die verwendeten Highlighting Techniken:
    </article>

    <div class="media">
        <figure>
            <img src="../static/pictures/standard.bmp">
            <figcaption>ohne Highlighting:</figcaption>
        </figure>
        <figure>
            <img src="../static/pictures/largerFont.bmp">
            <figcaption>größere Schrift:</figcaption>
        </figure>
        <figure>
            <img src="../static/pictures/redFont.bmp">
            <figcaption>rote Schrift:</figcaption>
        </figure>
        <figure>
            <video autoplay muted loop src="../static/pictures/blinking.mp4"></video>
            <figcaption>blinkender Text:</figcaption>
        </figure>
    </div>



    <form id="evaluation">
        <div class="radioarray">
            <b>Welche Version des Online-Shops hat dir am besten gefallen?</b>
            <br>
            <input type="radio" id="noHighlighting" name="favVersion" value="noHighlighting">
            <label for="noHighlighting">ohne Highlighting</label>
            <input type="radio" id="largerFont" name="favVersion" value="largerFont">
            <label for="largerFont">größere Schrift</label>
            <input type="radio" id="redFont" name="favVersion" value="redFont">
            <label for="redFont">rote Schrift</label>
            <input type="radio" id="blinking" name="favVersion" value="blinking">
            <label for="blinking">blinkender Text</label>
        </div>
        <div class="radioarray">
            <b>Wie hat das Highlighting generell deinen Entscheidungsprozess beeinflusst?</b>
            <br>
            <input type="radio" id="influence-1" name="influence" value="1">
            <label for="influence-1">negativ</label>
            <input type="radio" id="influence-2" name="influence" value="2">
            <label for="influence-2">eher negativ</label>
            <input type="radio" id="influence-3" name="influence" value="3">
            <label for="influence-3">kein Einfluss</label>
            <input type="radio" id="influence-4" name="influence" value="4">
            <label for="influence-4">eher positiv</label>
            <input type="radio" id="influence-5" name="influence" value="5">
            <label for="influence-5">positiv</label>
        </div>
        <div class="radioarray">
            <b>Mir hat der Onlineshop mit größerer Schrift gefallen.</b>
            <br>
            <input type="radio" id="largerFont-1" name="largerFont" value="1">
            <label for="largerFont-1">trifft nicht zu</label>
            <input type="radio" id="largerFont-2" name="largerFont" value="2">
            <label for="largerFont-2">trifft eher nicht zu</label>
            <input type="radio" id="largerFont-3" name="largerFont" value="3">
            <label for="largerFont-3">neutral</label>
            <input type="radio" id="largerFont-4" name="largerFont" value="4">
            <label for="largerFont-4">trifft eher zu</label>
            <input type="radio" id="largerFont-5" name="largerFont" value="5">
            <label for="largerFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Mir hat der Onlineshop mit roter Schrift gefallen.</b>
            <br>
            <input type="radio" id="redFont-1" name="redFont" value="1">
            <label for="redFont-1">trifft nicht zu</label>
            <input type="radio" id="redFont-2" name="redFont" value="2">
            <label for="redFont-2">trifft eher nicht zu</label>
            <input type="radio" id="redFont-3" name="redFont" value="3">
            <label for="redFont-3">neutral</label>
            <input type="radio" id="redFont-4" name="redFont" value="4">
            <label for="redFont-4">trifft eher zu</label>
            <input type="radio" id="redFont-5" name="redFont" value="5">
            <label for="redFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Mir hat der Onlineshop mit blinkender Schrift gefallen.</b>
            <br>
            <input type="radio" id="blinking-1" name="blinking" value="1">
            <label for="blinking-1">trifft nicht zu</label>
            <input type="radio" id="blinking-2" name="blinking" value="2">
            <label for="blinking-2">trifft eher nicht zu</label>
            <input type="radio" id="blinking-3" name="blinking" value="3">
            <label for="blinking-3">neutral</label>
            <input type="radio" id="blinking-4" name="blinking" value="4">
            <label for="blinking-4">trifft eher zu</label>
            <input type="radio" id="blinking-5" name="blinking" value="5">
            <label for="blinking-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Mir hat der Onlineshop ohne Highlighting gefallen.</b>
            <br>
            <input type="radio" id="standard-1" name="standard" value="1">
            <label for="standard-1">trifft nicht zu</label>
            <input type="radio" id="standard-2" name="standard" value="2">
            <label for="standard-2">trifft eher nicht zu</label>
            <input type="radio" id="standard-3" name="standard" value="3">
            <label for="standard-3">neutral</label>
            <input type="radio" id="standard-4" name="standard" value="4">
            <label for="standard-4">trifft eher zu</label>
            <input type="radio" id="standard-5" name="standard" value="5">
            <label for="standard-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich bin sicher, dass ich gute Entscheidungen getroffen habe, wenn Informationen mit größerer Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="confidenceLargerFont-1" name="confidenceLargerFont" value="1">
            <label for="confidenceLargerFont-1">trifft nicht zu</label>
            <input type="radio" id="confidenceLargerFont-2" name="confidenceLargerFont" value="2">
            <label for="confidenceLargerFont-2">trifft eher nicht zu</label>
            <input type="radio" id="confidenceLargerFont-3" name="confidenceLargerFont" value="3">
            <label for="confidenceLargerFont-3">neutral</label>
            <input type="radio" id="confidenceLargerFont-4" name="confidenceLargerFont" value="4">
            <label for="confidenceLargerFont-4">trifft eher zu</label>
            <input type="radio" id="confidenceLargerFont-5" name="confidenceLargerFont" value="5">
            <label for="confidenceLargerFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Mein Blick wurde von den mit größerer Schrift hervorgehobenen Informationen stark angezogen.</b>
            <br>
            <input type="radio" id="attentionLargerFont1-1" name="attentionLargerFont1" value="1">
            <label for="attentionLargerFont1-1">trifft nicht zu</label>
            <input type="radio" id="attentionLargerFont1-2" name="attentionLargerFont1" value="2">
            <label for="attentionLargerFont1-2">trifft eher nicht zu</label>
            <input type="radio" id="attentionLargerFont1-3" name="attentionLargerFont1" value="3">
            <label for="attentionLargerFont1-3">neutral</label>
            <input type="radio" id="attentionLargerFont1-4" name="attentionLargerFont1" value="4">
            <label for="attentionLargerFont1-4">trifft eher zu</label>
            <input type="radio" id="attentionLargerFont1-5" name="attentionLargerFont1" value="5">
            <label for="attentionLargerFont1-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe nach den mit größerer Schrift hervorgehobenen Informationen gesucht.</b>
            <br>
            <input type="radio" id="attentionLargerFont2-1" name="attentionLargerFont2" value="1">
            <label for="attentionLargerFont2-1">trifft nicht zu</label>
            <input type="radio" id="attentionLargerFont2-2" name="attentionLargerFont2" value="2">
            <label for="attentionLargerFont2-2">trifft eher nicht zu</label>
            <input type="radio" id="attentionLargerFont2-3" name="attentionLargerFont2" value="3">
            <label for="attentionLargerFont2-3">neutral</label>
            <input type="radio" id="attentionLargerFont2-4" name="attentionLargerFont2" value="4">
            <label for="attentionLargerFont2-4">trifft eher zu</label>
            <input type="radio" id="attentionLargerFont2-5" name="attentionLargerFont2" value="5">
            <label for="attentionLargerFont2-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe mein Suchverhalten verändert, wenn Informationen mit größerer Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="search_strategyLargerFont-1" name="search_strategyLargerFont" value="1">
            <label for="search_strategyLargerFont-1">trifft nicht zu</label>
            <input type="radio" id="search_strategyLargerFont-2" name="search_strategyLargerFont" value="2">
            <label for="search_strategyLargerFont-2">trifft eher nicht zu</label>
            <input type="radio" id="search_strategyLargerFont-3" name="search_strategyLargerFont" value="3">
            <label for="search_strategyLargerFont-3">neutral</label>
            <input type="radio" id="search_strategyLargerFont-4" name="search_strategyLargerFont" value="4">
            <label for="search_strategyLargerFont-4">trifft eher zu</label>
            <input type="radio" id="search_strategyLargerFont-5" name="search_strategyLargerFont" value="5">
            <label for="search_strategyLargerFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe mich für Produkte entschieden, weil sie mir bekannt waren, wenn Informationen mit größerer Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="recognitionBiasLargerFont-1" name="recognitionBiasLargerFont" value="1">
            <label for="recognitionBiasLargerFont-1">trifft nicht zu</label>
            <input type="radio" id="recognitionBiasLargerFont-2" name="recognitionBiasLargerFont" value="2">
            <label for="recognitionBiasLargerFont-2">trifft eher nicht zu</label>
            <input type="radio" id="recognitionBiasLargerFont-3" name="recognitionBiasLargerFont" value="3">
            <label for="recognitionBiasLargerFont-3">neutral</label>
            <input type="radio" id="recognitionBiasLargerFont-4" name="recognitionBiasLargerFont" value="4">
            <label for="recognitionBiasLargerFont-4">trifft eher zu</label>
            <input type="radio" id="recognitionBiasLargerFont-5" name="recognitionBiasLargerFont" value="5">
            <label for="recognitionBiasLargerFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich fühle mich in meiner Entscheidung selbstbestimmt, wenn Informationen mit größerer Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="autonomousLargerFont-1" name="autonomousLargerFont" value="1">
            <label for="autonomousLargerFont-1">trifft nicht zu</label>
            <input type="radio" id="autonomousLargerFont-2" name="autonomousLargerFont" value="2">
            <label for="autonomousLargerFont-2">trifft eher nicht zu</label>
            <input type="radio" id="autonomousLargerFont-3" name="autonomousLargerFont" value="3">
            <label for="autonomousLargerFont-3">neutral</label>
            <input type="radio" id="autonomousLargerFont-4" name="autonomousLargerFont" value="4">
            <label for="autonomousLargerFont-4">trifft eher zu</label>
            <input type="radio" id="autonomousLargerFont-5" name="autonomousLargerFont" value="5">
            <label for="autonomousLargerFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Meine Entscheidungen basieren auf guten Gründen, wenn Informationen mit größerer Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="reasonResponsiveLargerFont-1" name="reasonResponsiveLargerFont" value="1">
            <label for="reasonResponsiveLargerFont-1">trifft nicht zu</label>
            <input type="radio" id="reasonResponsiveLargerFont-2" name="reasonResponsiveLargerFont" value="2">
            <label for="reasonResponsiveLargerFont-2">trifft eher nicht zu</label>
            <input type="radio" id="reasonResponsiveLargerFont-3" name="reasonResponsiveLargerFont" value="3">
            <label for="reasonResponsiveLargerFont-3">neutral</label>
            <input type="radio" id="reasonResponsiveLargerFont-4" name="reasonResponsiveLargerFont" value="4">
            <label for="reasonResponsiveLargerFont-4">trifft eher zu</label>
            <input type="radio" id="reasonResponsiveLargerFont-5" name="reasonResponsiveLargerFont" value="5">
            <label for="reasonResponsiveLargerFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich bin sicher, dass ich gute Entscheidungen getroffen habe, wenn Informationen mit roter Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="confidenceRedFont-1" name="confidenceRedFont" value="1">
            <label for="confidenceRedFont-1">trifft nicht zu</label>
            <input type="radio" id="confidenceRedFont-2" name="confidenceRedFont" value="2">
            <label for="confidenceRedFont-2">trifft eher nicht zu</label>
            <input type="radio" id="confidenceRedFont-3" name="confidenceRedFont" value="3">
            <label for="confidenceRedFont-3">neutral</label>
            <input type="radio" id="confidenceRedFont-4" name="confidenceRedFont" value="4">
            <label for="confidenceRedFont-4">trifft eher zu</label>
            <input type="radio" id="confidenceRedFont-5" name="confidenceRedFont" value="5">
            <label for="confidenceRedFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Mein Blick wurde von den mit roter Schrift hervorgehobenen Informationen stark angezogen.</b>
            <br>
            <input type="radio" id="attentionRedFont1-1" name="attentionRedFont1" value="1">
            <label for="attentionRedFont1-1">trifft nicht zu</label>
            <input type="radio" id="attentionRedFont1-2" name="attentionRedFont1" value="2">
            <label for="attentionRedFont1-2">trifft eher nicht zu</label>
            <input type="radio" id="attentionRedFont1-3" name="attentionRedFont1" value="3">
            <label for="attentionRedFont1-3">neutral</label>
            <input type="radio" id="attentionRedFont1-4" name="attentionRedFont1" value="4">
            <label for="attentionRedFont1-4">trifft eher zu</label>
            <input type="radio" id="attentionRedFont1-5" name="attentionRedFont1" value="5">
            <label for="attentionRedFont1-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe nach den mit roter Schrift hervorgehobenen Informationen gesucht.</b>
            <br>
            <input type="radio" id="attentionRedFont2-1" name="attentionRedFont2" value="1">
            <label for="attentionRedFont2-1">trifft nicht zu</label>
            <input type="radio" id="attentionRedFont2-2" name="attentionRedFont2" value="2">
            <label for="attentionRedFont2-2">trifft eher nicht zu</label>
            <input type="radio" id="attentionRedFont2-3" name="attentionRedFont2" value="3">
            <label for="attentionRedFont2-3">neutral</label>
            <input type="radio" id="attentionRedFont2-4" name="attentionRedFont2" value="4">
            <label for="attentionRedFont2-4">trifft eher zu</label>
            <input type="radio" id="attentionRedFont2-5" name="attentionRedFont2" value="5">
            <label for="attentionRedFont2-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe mein Suchverhalten verändert, wenn Informationen mit roter Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="search_strategyRedFont-1" name="search_strategyRedFont" value="1">
            <label for="search_strategyRedFont-1">trifft nicht zu</label>
            <input type="radio" id="search_strategyRedFont-2" name="search_strategyRedFont" value="2">
            <label for="search_strategyRedFont-2">trifft eher nicht zu</label>
            <input type="radio" id="search_strategyRedFont-3" name="search_strategyRedFont" value="3">
            <label for="search_strategyRedFont-3">neutral</label>
            <input type="radio" id="search_strategyRedFont-4" name="search_strategyRedFont" value="4">
            <label for="search_strategyRedFont-4">trifft eher zu</label>
            <input type="radio" id="search_strategyRedFont-5" name="search_strategyRedFont" value="5">
            <label for="search_strategyRedFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe mich für Produkte entschieden, weil sie mir bekannt waren, wenn Informationen mit roter Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="recognitionBiasRedFont-1" name="recognitionBiasRedFont" value="1">
            <label for="recognitionBiasRedFont-1">trifft nicht zu</label>
            <input type="radio" id="recognitionBiasRedFont-2" name="recognitionBiasRedFont" value="2">
            <label for="recognitionBiasRedFont-2">trifft eher nicht zu</label>
            <input type="radio" id="recognitionBiasRedFont-3" name="recognitionBiasRedFont" value="3">
            <label for="recognitionBiasRedFont-3">neutral</label>
            <input type="radio" id="recognitionBiasRedFont-4" name="recognitionBiasRedFont" value="4">
            <label for="recognitionBiasRedFont-4">trifft eher zu</label>
            <input type="radio" id="recognitionBiasRedFont-5" name="recognitionBiasRedFont" value="5">
            <label for="recognitionBiasRedFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich fühle mich in meiner Entscheidung selbstbestimmt, wenn Informationen mit roter Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="autonomousRedFont-1" name="autonomousRedFont" value="1">
            <label for="autonomousRedFont-1">trifft nicht zu</label>
            <input type="radio" id="autonomousRedFont-2" name="autonomousRedFont" value="2">
            <label for="autonomousRedFont-2">trifft eher nicht zu</label>
            <input type="radio" id="autonomousRedFont-3" name="autonomousRedFont" value="3">
            <label for="autonomousRedFont-3">neutral</label>
            <input type="radio" id="autonomousRedFont-4" name="autonomousRedFont" value="4">
            <label for="autonomousRedFont-4">trifft eher zu</label>
            <input type="radio" id="autonomousRedFont-5" name="autonomousRedFont" value="5">
            <label for="autonomousRedFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Meine Entscheidungen basieren auf guten Gründen, wenn Informationen mit roter Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="reasonResponsiveRedFont-1" name="reasonResponsiveRedFont" value="1">
            <label for="reasonResponsiveRedFont-1">trifft nicht zu</label>
            <input type="radio" id="reasonResponsiveRedFont-2" name="reasonResponsiveRedFont" value="2">
            <label for="reasonResponsiveRedFont-2">trifft eher nicht zu</label>
            <input type="radio" id="reasonResponsiveRedFont-3" name="reasonResponsiveRedFont" value="3">
            <label for="reasonResponsiveRedFont-3">neutral</label>
            <input type="radio" id="reasonResponsiveRedFont-4" name="reasonResponsiveRedFont" value="4">
            <label for="reasonResponsiveRedFont-4">trifft eher zu</label>
            <input type="radio" id="reasonResponsiveRedFont-5" name="reasonResponsiveRedFont" value="5">
            <label for="reasonResponsiveRedFont-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich bin sicher, dass ich gute Entscheidungen getroffen habe, wenn Informationen mit blinkender Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="confidenceBlinking-1" name="confidenceBlinking" value="1">
            <label for="confidenceBlinking-1">trifft nicht zu</label>
            <input type="radio" id="confidenceBlinking-2" name="confidenceBlinking" value="2">
            <label for="confidenceBlinking-2">trifft eher nicht zu</label>
            <input type="radio" id="confidenceBlinking-3" name="confidenceBlinking" value="3">
            <label for="confidenceBlinking-3">neutral</label>
            <input type="radio" id="confidenceBlinking-4" name="confidenceBlinking" value="4">
            <label for="confidenceBlinking-4">trifft eher zu</label>
            <input type="radio" id="confidenceBlinking-5" name="confidenceBlinking" value="5">
            <label for="confidenceBlinking-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Mein Blick wurde von den mit blinkender Schrift hervorgehobenen Informationen stark angezogen.</b>
            <br>
            <input type="radio" id="attentionBlinking1-1" name="attentionBlinking1" value="1">
            <label for="attentionBlinking1-1">trifft nicht zu</label>
            <input type="radio" id="attentionBlinking1-2" name="attentionBlinking1" value="2">
            <label for="attentionBlinking1-2">trifft eher nicht zu</label>
            <input type="radio" id="attentionBlinking1-3" name="attentionBlinking1" value="3">
            <label for="attentionBlinking1-3">neutral</label>
            <input type="radio" id="attentionBlinking1-4" name="attentionBlinking1" value="4">
            <label for="attentionBlinking1-4">trifft eher zu</label>
            <input type="radio" id="attentionBlinking1-5" name="attentionBlinking1" value="5">
            <label for="attentionBlinking1-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe nach den mit blinkender Schrift hervorgehobenen Informationen gesucht.</b>
            <br>
            <input type="radio" id="attentionBlinking2-1" name="attentionBlinking2" value="1">
            <label for="attentionBlinking2-1">trifft nicht zu</label>
            <input type="radio" id="attentionBlinking2-2" name="attentionBlinking2" value="2">
            <label for="attentionBlinking2-2">trifft eher nicht zu</label>
            <input type="radio" id="attentionBlinking2-3" name="attentionBlinking2" value="3">
            <label for="attentionBlinking2-3">neutral</label>
            <input type="radio" id="attentionBlinking2-4" name="attentionBlinking2" value="4">
            <label for="attentionBlinking2-4">trifft eher zu</label>
            <input type="radio" id="attentionBlinking2-5" name="attentionBlinking2" value="5">
            <label for="attentionBlinking2-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe mein Suchverhalten verändert, wenn Informationen mit blinkender Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="search_strategyBlinking-1" name="search_strategyBlinking" value="1">
            <label for="search_strategyBlinking-1">trifft nicht zu</label>
            <input type="radio" id="search_strategyBlinking-2" name="search_strategyBlinking" value="2">
            <label for="search_strategyBlinking-2">trifft eher nicht zu</label>
            <input type="radio" id="search_strategyBlinking-3" name="search_strategyBlinking" value="3">
            <label for="search_strategyBlinking-3">neutral</label>
            <input type="radio" id="search_strategyBlinking-4" name="search_strategyBlinking" value="4">
            <label for="search_strategyBlinking-4">trifft eher zu</label>
            <input type="radio" id="search_strategyBlinking-5" name="search_strategyBlinking" value="5">
            <label for="search_strategyBlinking-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich habe mich für Produkte entschieden, weil sie mir bekannt waren, wenn Informationen mit blinkender Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="recognitionBiasBlinking-1" name="recognitionBiasBlinking" value="1">
            <label for="recognitionBiasBlinking-1">trifft nicht zu</label>
            <input type="radio" id="recognitionBiasBlinking-2" name="recognitionBiasBlinking" value="2">
            <label for="recognitionBiasBlinking-2">trifft eher nicht zu</label>
            <input type="radio" id="recognitionBiasBlinking-3" name="recognitionBiasBlinking" value="3">
            <label for="recognitionBiasBlinking-3">neutral</label>
            <input type="radio" id="recognitionBiasBlinking-4" name="recognitionBiasBlinking" value="4">
            <label for="recognitionBiasBlinking-4">trifft eher zu</label>
            <input type="radio" id="recognitionBiasBlinking-5" name="recognitionBiasBlinking" value="5">
            <label for="recognitionBiasBlinking-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich fühle mich in meiner Entscheidung selbstbestimmt, wenn Informationen mit blinkender Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="autonomousBlinking-1" name="autonomousBlinking" value="1">
            <label for="autonomousBlinking-1">trifft nicht zu</label>
            <input type="radio" id="autonomousBlinking-2" name="autonomousBlinking" value="2">
            <label for="autonomousBlinking-2">trifft eher nicht zu</label>
            <input type="radio" id="autonomousBlinking-3" name="autonomousBlinking" value="3">
            <label for="autonomousBlinking-3">neutral</label>
            <input type="radio" id="autonomousBlinking-4" name="autonomousBlinking" value="4">
            <label for="autonomousBlinking-4">trifft eher zu</label>
            <input type="radio" id="autonomousBlinking-5" name="autonomousBlinking" value="5">
            <label for="autonomousBlinking-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Meine Entscheidungen basieren auf guten Gründen, wenn Informationen mit blinkender Schrift hervorgehoben wurden.</b>
            <br>
            <input type="radio" id="reasonResponsiveBlinking-1" name="reasonResponsiveBlinking" value="1">
            <label for="reasonResponsiveBlinking-1">trifft nicht zu</label>
            <input type="radio" id="reasonResponsiveBlinking-2" name="reasonResponsiveBlinking" value="2">
            <label for="reasonResponsiveBlinking-2">trifft eher nicht zu</label>
            <input type="radio" id="reasonResponsiveBlinking-3" name="reasonResponsiveBlinking" value="3">
            <label for="reasonResponsiveBlinking-3">neutral</label>
            <input type="radio" id="reasonResponsiveBlinking-4" name="reasonResponsiveBlinking" value="4">
            <label for="reasonResponsiveBlinking-4">trifft eher zu</label>
            <input type="radio" id="reasonResponsiveBlinking-5" name="reasonResponsiveBlinking" value="5">
            <label for="reasonResponsiveBlinking-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Die Auswahl der Produkte und Informationen war realistisch.</b>
            <br>
            <input type="radio" id="realism-1" name="realism" value="1">
            <label for="realism-1">trifft nicht zu</label>
            <input type="radio" id="realism-2" name="realism" value="2">
            <label for="realism-2">trifft eher nicht zu</label>
            <input type="radio" id="realism-3" name="realism" value="3">
            <label for="realism-3">neutral</label>
            <input type="radio" id="realism-4" name="realism" value="4">
            <label for="realism-4">trifft eher zu</label>
            <input type="radio" id="realism-5" name="realism" value="5">
            <label for="realism-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Die hervorgehobenen Informationen waren relevant für meine Entscheidungen.</b>
            <br>
            <input type="radio" id="relevancy-1" name="relevancy" value="1">
            <label for="relevancy-1">trifft nicht zu</label>
            <input type="radio" id="relevancy-2" name="relevancy" value="2">
            <label for="relevancy-2">trifft eher nicht zu</label>
            <input type="radio" id="relevancy-3" name="relevancy" value="3">
            <label for="relevancy-3">neutral</label>
            <input type="radio" id="relevancy-4" name="relevancy" value="4">
            <label for="relevancy-4">trifft eher zu</label>
            <input type="radio" id="relevancy-5" name="relevancy" value="5">
            <label for="relevancy-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Die Zeit war ausreichend um eine Entscheidung zu treffen.</b>
            <br>
            <input type="radio" id="time-1" name="time" value="1">
            <label for="time-1">trifft nicht zu</label>
            <input type="radio" id="time-2" name="time" value="2">
            <label for="time-2">trifft eher nicht zu</label>
            <input type="radio" id="time-3" name="time" value="3">
            <label for="time-3">neutral</label>
            <input type="radio" id="time-4" name="time" value="4">
            <label for="time-4">trifft eher zu</label>
            <input type="radio" id="time-5" name="time" value="5">
            <label for="time-5">trifft zu</label>
        </div>
        <div class="radioarray">
            <b>Ich fühlte mich während dem Entscheidungsprozess unter Druck gesetzt.</b>
            <br>
            <input type="radio" id="pressure-1" name="pressure" value="1">
            <label for="pressure-1">trifft nicht zu</label>
            <input type="radio" id="pressure-2" name="pressure" value="2">
            <label for="pressure-2">trifft eher nicht zu</label>
            <input type="radio" id="pressure-3" name="pressure" value="3">
            <label for="pressure-3">neutral</label>
            <input type="radio" id="pressure-4" name="pressure" value="4">
            <label for="pressure-4">trifft eher zu</label>
            <input type="radio" id="pressure-5" name="pressure" value="5">
            <label for="pressure-5">trifft zu</label>
        </div>
    </form>
    <button id="next" type="button">Weiter</button> <br>
</div>

</body>
</html>