<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Start</title>
</head>
<body>
<div class="banner">
    <div>
        Start
    </div>
</div>
<div>
    <article>
        Wenn du noch Fragen zu der Studie hast, stelle diese bitte jetzt. Während dem Bearbeiten der Aufgabe werden
        wir keine Fragen beantworten.
    </article>
    <label><input id="checkbox" type="checkbox"> Ich habe keine weiteren Fragen zur Aufgabe</label>
    <br>
    <button class = "startButton" id="start" type="button">Studie starten</button> <br>
</div>
</body>
</html>