<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Aufgabe</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            const socket = io('');

            socket.on('connect', function() {
                socket.send('Task page connected!');
            });
            socket.on('description', function () {
                window.location.href = "/description";
                return false;
            })

            $('button#start').click(function () {
                socket.emit('description');
                return false;
            });
        });
    </script>
</head>
<body>
<div class="banner">
    <div>
        Aufgabe
    </div>
</div>
<div>
    <article>
        Deine Aufgabe in dieser Studie ist es verschiedene Kaufentscheidungen zu treffen. Die Käufe, für die du dich
        entscheidest, sind jedoch nicht für dich, sondern für eine Freundin, die du auf der nächsten Seite besser
        kennenlernen wirst. Deine Freundin hat dir dafür eine Einkaufsliste geschrieben. Für jeden Artikel auf
        dieser Liste stehen dir fünf Produkte zur Auswahl. Um zwischen den verschiedenen Produkten zu wechseln, kannst
        du die linke und rechte Pfeiltaste nutzen. Um ein Produkt auszuwählen, kannst du den Knopf "In den Einkaufswagen"
        auf der Seite des jeweiligen Produkts drücken. Du hast nur begrenzt Zeit, um deine Entscheidung zu treffen.
        Nach der Hälfte der Zeit und 15 Sekunden vor Schluss ertönt ein Ton. Triffst du in dieser Zeit keine Entscheidung, erscheint automatisch eine
        Übersicht mit allen Produkten. Triffst du deine Entscheidung erst in der Übersicht wird sie als ungültig gewertet.
        Danach erscheint ein Fenster, in dem du die nächste Entscheidung starten kannst. Bevor die nächsten Produkte
        angezeigt werden erscheint ein Punkt in der Mitte des Bildschirms. Richte deinen Blick darauf, bis die Produkte
        erscheinen. Jeweils nach 10-15 Minuten werden wir eine kurze Pause einlegen.
    </article>
    <button class = "startButton" id="start" type="button">Zur Beschreibung</button> <br>
</div>
</body>
</html>