<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Aufgabe</title>
</head>
<body>
<div class="banner">
    <div>
        Aufgabe
    </div>
</div>
<div>
    <article>
        Deine Aufgabe in dieser Studie ist es verschiedene Kaufentscheidungen zu treffen. Die Käufe, für die du dich
        entscheidest, sind jedoch nicht für dich, sondern für eine Freundin, die du auf der nächsten Seite besser
        kennenlernen wirst. Dazu wirst du in einem Online-Shop nacheinander verschiedene Produktsets präsentiert
        bekommen. Jedes dieser Produktsets enthält 5 Produkte und du musst dich für ein Produkt entscheiden, dass du
        kaufen würdest. Um zwischen den verschiedenen Produkten zu wechseln, kannst du die linke und rechte Pfeiltaste
        nutzen. Um ein Produkt auszuwählen, kannst du den Knopf "In den Einkaufswagen" auf der Seite des jeweiligen
        Produkts drücken. Du hast jeweils 1 Minute Zeit, um deine Entscheidung zu treffen, hast du bis dahin kein
        Produkt ausgewählt, erscheint automatisch eine Übersicht mit allen Produkten und du musst innerhalb von 10
        Sekunden ein Produkt wählen. Danach erscheint ein Fenster, in dem du die nächste Entscheidung starten kannst.
        Jeweils nach 10-15 Minuten werden wir eine kurze Pause einlegen. Die Pause wird auf diesem Fenster angekündigt.
    </article>
    <button class = "startButton" id="start" type="button">Zur Beschreibung</button> <br>
</div>
</body>
</html>