<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Aufgabe</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            const socket = io('');

            socket.on('connect', function() {
                socket.send('Task page connected!');
            });
            socket.on('description', function () {
                window.location.href = "/description";
                return false;
            })

            $('button#start').click(function () {
                socket.emit('description');
                return false;
            });
        });
    </script>
</head>
<body>
<div class="banner">
    <div>
        Aufgabe
    </div>
</div>
<div>
    <article>
        Deine Aufgabe in dieser Studie ist es verschiedene Kaufentscheidungen zu treffen. Die Käufe, für die du dich
        entscheidest, sind jedoch nicht für dich, sondern für eine Freundin, die du auf der nächsten Seite besser
        kennenlernen wirst. Dazu wirst du in einem Online-Shop nacheinander verschiedene Produktsets präsentiert
        bekommen. Jedes dieser Produktsets enthält 5 Produkte und du musst dich für ein Produkt entscheiden, dass du
        kaufen würdest. Um zwischen den verschiedenen Produkten zu wechseln, kannst du die linke und rechte Pfeiltaste
        nutzen. Um ein Produkt auszuwählen, kannst du den Knopf "In den Einkaufswagen" auf der Seite des jeweiligen
        Produkts drücken. Du hast jeweils 1 Minute Zeit, um deine Entscheidung zu treffen. Triffst du in dieser Zeit
        keine Entscheidung, erscheint automatisch eine Übersicht mit allen Produkten. Triffst du deine Entscheidung erst
        in der Übersicht wird sie als ungültig gewertet. Danach erscheint ein Fenster, in dem du die nächste Entscheidung
        starten kannst. Jeweils nach 10-15 Minuten werden wir eine kurze Pause einlegen.
    </article>
    <button class = "startButton" id="start" type="button">Zur Beschreibung</button> <br>
</div>
</body>
</html>